<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOHEWDjaAX7J07GEwcgrVnLjvj8l0_kU4</string>
	<key>GCM_SENDER_ID</key>
	<string>671529202846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.favoritePlaces</string>
	<key>PROJECT_ID</key>
	<string>favorite-places-app-94adb</string>
	<key>STORAGE_BUCKET</key>
	<string>favorite-places-app-94adb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671529202846:ios:0a9f5e972057d6e880b78f</string>
</dict>
</plist>